body {
    background-image: url('https://images.unsplash.com/photo-1624117987059-f1b8c83edfaa?q=80&w=3008&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

    color: #232323;
    line-height: 30px;
    font-size: 20px;
    font-family: sans-serif;
    padding: 25px 50px;
  }
  
  code {
    color: #09507c;
    background: #deedf2;
    padding: 2px 10px;
    border-radius: 10px;
  }
  
  td {
    border: 1px solid black;
    padding: 15px;
  }
  
  button {
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    border-color: #09507c;
    background-color: #deedf2;
  }
  